nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 99;
	width: 100vw;
	top: 0;
}
nav ul {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: #2563eb;
	top: -150vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	list-style: none;
	color: #fff;
	z-index: 99;
}
nav ul li {
	padding: 10px;
	font-size: 20px;
}
nav ul li a {
	color: #fff;
}
#slideNav ~ .arrow {
	transition: all 0.4s;
	cursor: pointer;
	position: absolute;
	top: 0;
	z-index: 100;
}
#slideNav.active ~ .arrow {
	position: fixed;
	transform: rotate(225deg);
	margin-top: 15px;
}
#slideNav {
	transition: top 0.2s;
}
#slideNav.active {
	top: 0;
}
.content {
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
