.allTabels__box h2 {
	margin: 30px 0;
	text-align: center;
}
.allTabels__box h3 {
	text-align: center;
	margin: 10px 0;
}
.busStop {
	background-color: #93c5fd;
	margin: 5px 2px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	color: #000;
}
.allTabels__box hr {
	margin: 30px 2px;
}
.busStop p {
	width: 90%;
	padding: 13px;
	cursor: pointer;
}
#searchBusStop {
	padding: 0 8px;
	vertical-align: middle;
	border-radius: 2px;
	width: calc(100% - 20px);
	min-height: 36px;
	background-color: #ffffff;
	border: 1px solid rgba(36, 28, 21, 0.3);
	transition: all 0.2s ease-in-out 0s;
	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
	margin: 10px;
}

.star {
	width: 30px;
	font-size: 15px;
	filter: contrast(0) brightness(20);
}
.star.star--active {
	filter: contrast(1) brightness(1);
}
