.tabel {
	background-color: rgb(43, 43, 43);
	margin: 20px auto 0 auto;
	/* height: 20px; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 5;
	width: 96%;
	padding: 5px;
}
.tabel h3 {
	color: gray;
	margin-top: 5px;
}
.screen {
	background-color: rgb(92, 92, 92);
	color: orange;
	padding: 10px 20px 30px 20px;
	z-index: 4;
	width: 88%;
	min-height: 195px;
	overflow: hidden;
	margin: 10px 0;
	position: relative;
}
.screen p {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 2px;
	font-size: small;
}
.screen p.error__text {
	justify-content: flex-start;
}
.screen p.time {
	justify-content: flex-end;
	margin-top: 10px;
	position: absolute;
	bottom: 10px;
	right: 10px;
}
.pipe {
	width: 40px;
	background-color: rgb(32, 32, 32);
	height: calc(100vh - 14px);
	margin-left: 50px;
	position: absolute;
	top: 14px;
	z-index: 1;
	left: 10px;
}
.blinking {
	animation: blinker 1.5s step-start infinite;
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}